.landingPage{
    height: 70vh;
    background-image: linear-gradient(to right, rgba(3, 3, 101, 0.8), rgba(0, 200, 255, 0.6));
}
.topMenuPanel{
    height: 75px;
    padding-top: 30px;
}
.mainContentContainer{
    display: flex;
    justify-content: space-around;
}
.MuiTab-root{
    color: wheat !important;
}
.menuItems{
    /* position: fixed;
    left: 0; */
    display: flex;
    color: wheat;
}
.menuItems div{
    display: flex;
}
.menuItems div span{
    font-size: 14px;
    pointer-events:fill;
    font-weight: 600;
    font-family: papyrus;
    margin-left: 4vw;
}
.menuItems div span a{
    text-decoration: none;
    color: wheat;
}
.mainContent{
    display: flex;
    justify-content: space-around;
    height: 70vh;
    width: 70vw;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.myImage .imageDiv{
    width: 30vw;
    height: 80vh;
}
.myBioMain{
    margin-left: 10%;
    margin-right: 5%;
    width: 30vw;
}
.contact{
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 900px){
    .myImage .imageDiv{
        height: 55vh;
    }
}
@media screen and (max-width: 600px){
    .menuItems span{
        font-size: 10px;
    }
    .myImage .imageDiv{
        height: 45vh;
    }
    .mainContent{
        height: 60vh;
    }
}
@media screen and (max-width: 450px){
    .menuItems{
        display: block;
    }
    .mainContent{
        margin-top: 40px;
        height: 55vh;
    }
    .menuItems div span:not(:first-child){
        padding-right: 15vw;
        width: 50vw;
        text-align: right;
        border: 1px solid black;
        border-radius: 5px;
    }
    .menuItems div span:first-child{
        padding-left: 15vw;
        width: 50vw;
        text-align: left;
        border: 1px solid black;
        border-radius: 5px;
    }
    .myImage .imageDiv{
        height: 25vh;;
    }
}